body {
  font-family: "Inter", system-ui, Helvetica;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#appProgram {
  height: 100%;
}

.gutter {
  padding-bottom: 0.25rem;
}

.gutter-t {
  padding-top: 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.4rem;
  flex-direction: column;
  display: flex;
}

.cell-btn {
  padding: 0.44rem 0.8rem;
  width: 100%;
  margin: 0;
  background-color: #ebecf2;
  border: 3px solid transparent;
}

.list > .engine-item {
  font-weight: 300;
  font-size: 1.1rem;
  display: flex;
  flex: 1;
  min-height: 75px;
  color: #2f2768;
  overflow: hidden;
}

.engine-title {
  height: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #2f2768;
}

.engine-stats {
  text-align: left;
  font-weight: 200;
  font-size: 0.67rem;
}

.engine-paths {
  font-size: 0.63rem;
}

#elicense {
  height: 100%;
}

.btn-base {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem 0.4rem;
  gap: 0.3rem;
  min-width: 93px;
  height: 25px;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
  color: #2f2768;
  border: 2px solid #2f2768;
  background-color: transparent;
  text-transform: uppercase;
}

.active-delete {
  border: 0;
  background: #d7dbf2;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #2f2768;
}

.cell-btn-active {
  background: #daddf2;
  border: 3px solid #2f2768;
}

.cell-btn-running {
  background-color: #c6f7d4;
  border: 3px solid transparent;
}

.button {
  --bs-btn-padding-x: 0.85rem;
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #bdc0c5;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: #fff;
  --bs-btn-border-radius: 0.2rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(34, 46, 60, 0.15),
    0 1px 1px hsla(0, 0%, 100%, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.2rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  background-color: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  color: var(--bs-btn-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

.btn-primary {
  --bs-btn-color: #222e3c;
  --bs-btn-bg: #3b7ddd;
  --bs-btn-border-color: #2f64b1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #326abc;
  --bs-btn-hover-border-color: #2f64b1;
  --bs-btn-focus-shadow-rgb: 55, 113, 197;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2f64b1;
  --bs-btn-active-border-color: #2c5ea6;
  --bs-btn-active-shadow: inset 0 3px 5px hsla(0, 0%, 100%, 0.125);
  --bs-btn-disabled-color: #222e3c;
  --bs-btn-disabled-bg: #3b7ddd;
  --bs-btn-disabled-border-color: #3b7ddd;
  color: #fff;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.3rem 0.85rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.stats-box {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.87rem;
  place-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #2f2768;
}

.tild {
  font-size: 0.84rem;
  padding-bottom: 0.4rem;
}

.box {
  padding: 0.3rem;
}

.bar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.45rem;
  padding-top: 0.45rem;
  flex-wrap: wrap-reverse;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spaceless {
  padding: 0;
  margin: 0;
  gap: 4px;
}

.flex {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.center {
  place-items: center;
}

.form-w {
  width: 50%;
}

.full-w {
  width: 100%;
}

.expand-width {
  width: 135%;
  gap: 0.3rem;
}

.align-end {
  align-items: flex-end;
}

.center-align {
  align-items: center;
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.ph {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.relative {
  position: relative;
}

.frame {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  min-height: 3rem;
  place-items: center;
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#uploadform button {
  background-color: transparent;
  border: 1px solid #0e1116;
  color: #0e1116;
}

.wrap {
  flex-wrap: wrap;
}

.thin {
  font-weight: 400;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
}

.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.panel-btn {
  min-height: 34px;
  border-radius: 4px;
  border: 0;
  background-color: #ebecf2;
  color: #2f2768;
  gap: 8px;
  font-weight: 600;
  font-size: 1rem;
}

.panel-btn-ctn {
  padding-right: 2px;
}

#empty-list {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 0.4rem;
  color: #111111;
}

.grid-space {
  padding-top: 2rem;
}

.center {
  display: flex;
  place-content: center;
}

.right-align {
  place-content: end;
}

.transparent {
  background-color: transparent;
}

.engine-status {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  color: #e06e31;
}

.engine-status-finished {
  color: #2f2768;
}

.engine-status-running {
  color: #37b85b;
}

.engine-background-running {
  background-color: #c6f7d4;
}

.engine-bar {
  box-sizing: border-box;
  width: 6.125rem;
  height: 0.75rem;
  background: #ebecf2;
  border: 1px solid #2f2768;
  border-radius: 1.5rem;
  overflow: hidden;
}

.engine-bar > div {
  height: 100%;
  background: #2f2768;
  transition: width 0.5s;
}

.cell-btn-active.engine-background-running {
  border-color: #76ff9d;
}

.full {
  height: 100%;
  justify-content: flex-start;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 6px;
  height: 44px;
  background: #ebecf2;
  border-radius: 4px;
  border: 0;
  color: #2f2768;
  font-size: 1rem;
}

#campaign-create-form,
#settings-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
