<button
  id="new-campaign-button"
  class="panel-btn button btn-primary full-w campaign-button center"
>
  <img src="/assets/new.svg" alt="" />
  <div>New Campaign</div>
</button>

<script>
  // new create
  const newCampaignButton = document.getElementById("new-campaign-button");
  const campaignCreateForm = document.getElementById("campaign-create-form");

  newCampaignButton?.addEventListener("click", () => {
    if (campaignCreateForm) {
      campaignCreateForm.className = "block";
    }
  });
</script>
<style>
  .campaign-button {
    background-color: #e8c01a;
    color: rgba(47, 39, 104, 1);
    width: 100%;
    min-height: 56px;
    font-size: 16px;
    gap: 8px;
  }
</style>
