---
export interface Props {
  title: string;
  icon?: boolean;
}

const { title, icon } = Astro.props;
---

<button class="panel-btn button btn-primary full-w campaign-button center">
  {icon ? <img src="/assets/new.svg" alt="" /> : null}
  <div>{title}</div>
</button>

<script>
  import { modalStore, ModalType } from "../../stores/app";

  // new create
  const newCampaignButton = document.querySelectorAll(".campaign-button");
  const campaignCreateForm = document.getElementById("campaign-create-form");

  for (const item of newCampaignButton) {
    item?.addEventListener("click", () => {
      modalStore.set(ModalType.CAMPAIGN);
    });
  }
</script>
<style>
  .campaign-button {
    background-color: #e8c01a;
    color: rgba(47, 39, 104, 1);
    width: 100%;
    min-height: 56px;
    font-size: 1rem;
    gap: 8px;
  }
</style>
