<button
  id="settings-button"
  class="panel-btn full-w center right-align transparent"
>
  <img src="/assets/settings.svg" alt="" />
  <div>Settings</div>
</button>

<style>
  #settings-button {
    z-index: 1;
  }
</style>

<script>
  import { modalStore, ModalType } from "../../stores/app";

  const settingsButton = document.getElementById("settings-button");

  const toggleForm = () => {
    modalStore.set(ModalType.SETTINGS);
  };

  settingsButton.addEventListener("click", toggleForm);
</script>
