<svg
  width="1000"
  height="760"
  viewBox="0 0 1000 760"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>App program wireframe</title>
  <g filter="url(#filter0_d_343_1950)">
    <rect x="30" y="10" width="940" height="700" rx="10" fill="white"></rect>
    <rect x="30" y="38" width="940" height="1" fill="black" fill-opacity="0.05"
    ></rect>
    <circle cx="84" cy="24" r="6" fill="#5FCF65"></circle>
    <circle cx="64" cy="24" r="6" fill="#F8CE52"></circle>
    <circle cx="44" cy="24" r="6" fill="#F96057"></circle>
    <circle
      cx="44"
      cy="24"
      r="5.75"
      stroke="black"
      stroke-opacity="0.1"
      stroke-width="0.5"
      style="mix-blend-mode:luminosity"></circle>
    <circle
      cx="64"
      cy="24"
      r="5.75"
      stroke="black"
      stroke-opacity="0.1"
      stroke-width="0.5"
      style="mix-blend-mode:luminosity"></circle>
    <circle
      cx="84"
      cy="24"
      r="5.75"
      stroke="black"
      stroke-opacity="0.1"
      stroke-width="0.5"
      style="mix-blend-mode:luminosity"></circle>
    <g clip-path="url(#clip0_343_1950)">
      <path
        d="M96.7046 61.1367C95.2235 61.1367 94.5796 61.7057 94.572 62.4794C94.5303 63.3253 95.2765 63.8146 96.947 64.1674L98.3939 64.4784C102.284 65.3129 103.886 67.2019 103.902 69.8912C103.883 73.3732 101.208 75.3039 96.7424 75.3039C92.1477 75.3039 89.1515 73.3201 89.1364 68.8936H93.6818C93.7576 70.5132 94.8447 71.3743 96.678 71.3743C98.2083 71.3743 99 70.7636 99.0189 69.8912C99 69.0908 98.3295 68.5977 96.3674 68.1691L94.6099 67.7898C91.4849 67.1184 89.5758 65.5822 89.5833 62.8246C89.5568 59.4639 92.519 57.207 96.7083 57.207C100.977 57.207 103.644 59.4981 103.663 62.965H99.0833C98.9849 61.8194 98.25 61.1367 96.7046 61.1367Z"
        fill="#2F2768"></path>
      <path
        d="M105.314 68.5141C105.314 64.41 107.932 61.6865 112.026 61.6865C116.019 61.6865 118.602 64.262 118.602 68.4762V69.58H109.996V69.7848C109.996 71.0593 110.822 71.9924 112.235 71.9924C113.208 71.9924 113.989 71.5714 114.265 70.8203H118.602C118.155 73.5779 115.795 75.3379 112.129 75.3379C107.894 75.3417 105.314 72.7965 105.314 68.5141ZM114.231 66.9627C114.205 65.8248 113.311 65.032 112.133 65.032C110.97 65.032 110.023 65.8172 110 66.9627H114.231Z"
        fill="#2F2768"></path>
      <path
        d="M120.049 68.5141C120.049 64.4479 122.598 61.6865 126.901 61.6865C131.204 61.6865 133.75 64.4441 133.75 68.5141C133.75 72.5803 131.201 75.3379 126.901 75.3379C122.598 75.3417 120.049 72.5803 120.049 68.5141ZM128.898 68.48C128.898 66.4014 128.14 65.1345 126.936 65.1345C125.663 65.1345 124.905 66.4014 124.905 68.48C124.905 70.5586 125.663 71.8255 126.936 71.8255C128.14 71.8255 128.898 70.5586 128.898 68.48Z"
        fill="#2F2768"></path>
      <path
        d="M135.269 68.4801C135.269 63.6894 137.818 61.6904 140.432 61.6904C142.394 61.6904 143.633 62.8283 144.152 64.1711H144.22V57.4497H148.97V75.099H144.254V72.9256H144.152C143.602 74.2683 142.326 75.2697 140.47 75.2697C137.644 75.2697 135.269 73.0659 135.269 68.4801ZM144.326 68.4801C144.326 66.5152 143.534 65.3432 142.227 65.3432C140.92 65.3432 140.163 66.5152 140.163 68.4801C140.163 70.4449 140.92 71.6169 142.227 71.6169C143.534 71.6169 144.326 70.4107 144.326 68.4801Z"
        fill="#2F2768"></path>
      <path
        d="M150.833 68.5141C150.833 64.41 153.451 61.6865 157.545 61.6865C161.538 61.6865 164.121 64.262 164.121 68.4762V69.58H155.515V69.7848C155.515 71.0593 156.341 71.9924 157.754 71.9924C158.727 71.9924 159.508 71.5714 159.784 70.8203H164.121C163.674 73.5779 161.314 75.3379 157.648 75.3379C153.417 75.3417 150.833 72.7965 150.833 68.5141ZM159.75 66.9627C159.723 65.8248 158.83 65.032 157.651 65.032C156.489 65.032 155.542 65.8172 155.519 66.9627H159.75Z"
        fill="#2F2768"></path>
      <path
        d="M166.053 61.861H170.667V64.3758H170.803C171.284 62.5134 172.386 61.6865 173.799 61.6865C174.212 61.6865 174.625 61.7548 175.004 61.8686V65.9272C174.53 65.7641 173.739 65.6845 173.246 65.6845C171.845 65.6845 170.803 66.6858 170.803 68.1993V75.0951H166.053V61.861Z"
        fill="#2F2768"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M72.0175 52.8047C67.9402 52.1243 63.7787 52.1243 59.7017 52.8047C57.8154 53.1162 56.074 54.0118 54.7224 55.3653C53.3704 56.7189 52.4764 58.4629 52.1652 60.3519C51.4858 64.4345 51.4858 68.602 52.1652 72.6846C52.4763 74.5736 53.3704 76.3173 54.7224 77.6712C56.074 79.0247 57.8154 79.9203 59.7017 80.2315C61.7381 80.5588 63.7976 80.7177 65.8596 80.7065C67.9228 80.7059 69.9824 80.5353 72.0175 80.1962C73.9038 79.8847 75.6452 78.9891 76.9968 77.6356C78.3488 76.282 79.2429 74.538 79.554 72.649C79.8858 70.6167 80.0503 68.5602 80.046 66.5006C80.0454 64.4345 79.875 62.3721 79.5363 60.3342C79.2231 58.4511 78.33 56.7129 76.9817 55.3631C75.6337 54.013 73.8979 53.1187 72.0174 52.8049L72.0175 52.8047ZM65.07 64.7245H68.0758V64.7245C68.9658 64.7264 69.7937 65.1813 70.2733 65.9319C70.7529 66.6826 70.8188 67.6258 70.4477 68.4356V68.4359L68.3375 73.0127C68.1507 73.4559 67.7923 73.8046 67.3442 73.9783C66.896 74.152 66.3969 74.1362 65.9606 73.9349C65.5243 73.7333 65.1884 73.363 65.0298 72.9087C64.8711 72.4548 64.9033 71.9556 65.1188 71.5254L66.6174 68.2758H63.6116C62.7204 68.2746 61.891 67.8194 61.411 67.0675C60.9311 66.3154 60.8665 65.3706 61.2397 64.5601L63.35 59.9876C63.5367 59.5444 63.8952 59.1957 64.3433 59.022C64.7911 58.8483 65.2905 58.8641 65.7268 59.0654C66.1632 59.267 66.499 59.6373 66.6577 60.0916C66.8163 60.5455 66.7841 61.0447 66.5686 61.4748L65.07 64.7245Z"
        fill="#2F2768"></path>
      <rect x="228.5" y="56" width="151" height="21" rx="10.5" fill="#D9D9D9"
      ></rect>
      <rect width="403" height="56" transform="translate(38 98)" fill="#E8C01A"
      ></rect>
      <rect width="199" height="48" transform="translate(38 170)" fill="#EBECF2"
      ></rect>
      <rect x="77.5" y="186" width="120" height="16" rx="8" fill="#BDC1D9"
      ></rect>
      <rect
        width="199"
        height="48"
        transform="translate(241 170)"
        fill="#EBECF2"></rect>
      <rect x="280.5" y="186" width="120" height="16" rx="8" fill="#BDC1D9"
      ></rect>
      <rect width="403" height="458" transform="translate(38 222)" fill="white"
      ></rect>
      <rect width="392" height="95" transform="translate(38 222)" fill="#C6F7D4"
      ></rect>
      <rect x="54" y="246.5" width="151" height="16" rx="8" fill="#8FCCA0"
      ></rect>
      <rect x="54" y="276.5" width="120" height="16" rx="8" fill="#8FCCA0"
      ></rect>
      <rect x="40" y="323" width="388" height="91" fill="#DADDF2"></rect>
      <rect
        x="54"
        y="345.5"
        width="151"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect
        x="54"
        y="375.5"
        width="120"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect
        x="40"
        y="323"
        width="388"
        height="91"
        stroke="#2F2768"
        stroke-width="4"></rect>
      <rect width="392" height="95" transform="translate(38 420)" fill="#DADDF2"
      ></rect>
      <rect
        x="54"
        y="444.5"
        width="151"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect
        x="54"
        y="474.5"
        width="120"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect width="392" height="95" transform="translate(38 519)" fill="#DADDF2"
      ></rect>
      <rect
        x="54"
        y="543.5"
        width="151"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect
        x="54"
        y="573.5"
        width="120"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect width="392" height="95" transform="translate(38 618)" fill="#DADDF2"
      ></rect>
      <rect
        x="54"
        y="642.5"
        width="151"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect
        x="54"
        y="672.5"
        width="120"
        height="16"
        rx="8"
        fill="#2F2768"
        fill-opacity="0.4"></rect>
      <rect x="434" y="222" width="6" height="139" rx="3" fill="#CCCCCC"></rect>
      <g clip-path="url(#clip1_343_1950)">
        <path d="M445 39H701.5V78H445V39Z" fill="#222222"></path>
        <path d="M705.5 39H962V78H705.5V39Z" fill="#535353"></path>
      </g>
      <rect
        width="517"
        height="508"
        transform="translate(445 78)"
        fill="#222222"></rect>
      <rect
        opacity="0.4"
        x="465"
        y="153"
        width="260"
        height="19"
        rx="9.5"
        fill="#EBECF2"></rect>
      <rect
        opacity="0.4"
        x="465"
        y="201"
        width="185"
        height="19"
        rx="9.5"
        fill="#EBECF2"></rect>
      <rect
        opacity="0.4"
        x="465"
        y="249"
        width="185"
        height="19"
        rx="9.5"
        fill="#EBECF2"></rect>
      <rect
        opacity="0.4"
        x="465"
        y="106"
        width="394"
        height="19"
        rx="9.5"
        fill="#EBECF2"></rect>
      <circle cx="495" cy="633" r="40" fill="#EBECF2"></circle>
      <circle cx="599" cy="633" r="40" fill="#EBECF2"></circle>
      <rect x="663" y="640.875" width="185" height="19" rx="9.5" fill="#EBECF2"
      ></rect>
      <rect x="663" y="606.125" width="185" height="19" rx="9.5" fill="#EBECF2"
      ></rect>
      <rect x="445.5" y="586.5" width="516" height="93" stroke="#EBECF2"></rect>
    </g>
  </g>
  <defs>
    <filter
      id="filter0_d_343_1950"
      x="0"
      y="0"
      width="1000"
      height="760"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"></feColorMatrix>
      <feOffset dy="20"></feOffset>
      <feGaussianBlur stdDeviation="15"></feGaussianBlur>
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_343_1950"></feBlend>
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_343_1950"
        result="shape"></feBlend>
    </filter>
    <clipPath id="clip0_343_1950">
      <rect width="924" height="641" fill="white" transform="translate(38 39)"
      ></rect>
    </clipPath>
    <clipPath id="clip1_343_1950">
      <rect width="517" height="39" fill="white" transform="translate(445 39)"
      ></rect>
    </clipPath>
  </defs>
</svg>
