<svg
  width="100%"
  height="100%"
  viewBox="0 0 1440 221"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class={"absolute"}
>
  <title>Footer Background</title>
  <path
    d="M974 21.5C740.5 40.0884 290.273 1.5441 75.2441 0.0884095C45.8601 -0.110512 0 0.0884095 0 0.0884095V221.088H1440V0.0884095H1380.98C1380.98 0.0884095 1207.5 2.91159 974 21.5Z"
    fill="#E8C01A"
    fill-opacity="0.17"></path>
</svg>

<style>
  .absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
</style>
