<svg
  width="320"
  height="290"
  viewBox="0 0 456 355"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Search keywords across pages</title>
  <rect x="239" y="8" width="217" height="229" rx="4" fill="#E5E4EC"></rect>
  <rect
    x="231"
    y="2"
    width="213"
    height="223"
    rx="6"
    fill="white"
    stroke="#2F2768"
    stroke-width="4"></rect>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M295.5 31C318.206 31 337 49.5314 337 72.5C337 95.2063 318.208 114 295.5 114C272.531 114 254 95.2079 254 72.5C254 49.5314 272.531 31 295.5 31ZM282.189 77.198L286.365 84.506L308.81 45.6165C312.726 38.8305 322.905 44.8332 318.99 51.6198L291.584 99.1231C289.234 103.299 283.232 103.038 281.144 99.1231L271.748 83.2023C267.832 76.4163 278.273 70.6737 282.188 77.199L282.189 77.198Z"
    fill="#E5E4EC"></path>
  <rect x="355" y="99" width="60" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="355" y="31" width="60" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="256" y="159" width="159" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="17" y="8" width="202" height="289" rx="4" fill="#E5E4EC"></rect>
  <rect x="239" y="261" width="217" height="36" rx="4" fill="#E5E4EC"></rect>
  <rect
    x="231"
    y="250"
    width="213"
    height="37"
    rx="6"
    fill="white"
    stroke="#2F2768"
    stroke-width="4"></rect>
  <rect
    x="10"
    y="2"
    width="198"
    height="285"
    rx="6"
    fill="white"
    stroke="#2F2768"
    stroke-width="4"></rect>
  <circle cx="48" cy="45" r="12" fill="#E5E4EC"></circle>
  <circle cx="48" cy="107" r="12" fill="#E5E4EC"></circle>
  <circle cx="48" cy="176" r="12" fill="#E5E4EC"></circle>
  <circle cx="48" cy="244" r="12" fill="#E5E4EC"></circle>
  <rect x="84" y="95" width="100" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="84" y="33" width="100" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="84" y="164" width="100" height="24" rx="12" fill="#E5E4EC"></rect>
  <rect x="84" y="232" width="100" height="24" rx="12" fill="#E5E4EC"></rect>
  <circle
    cx="232.446"
    cy="183.446"
    r="53.5472"
    transform="rotate(-28.0708 232.446 183.446)"
    fill="white"
    stroke="#2F2768"
    stroke-width="8"></circle>
  <path
    d="M269.718 175.833C257.692 153.281 229.661 144.749 207.11 156.776"
    stroke="#2F2768"
    stroke-width="8"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="253.863"
    y="232.709"
    width="7.49661"
    height="16.0642"
    transform="rotate(-28.0708 253.863 232.709)"
    fill="#2F2768"
    stroke="#2F2768"
    stroke-width="4"></rect>
  <rect
    x="256.634"
    y="247.01"
    width="17.1351"
    height="97.4559"
    rx="8.56755"
    transform="rotate(-28.0708 256.634 247.01)"
    fill="#2F2768"
    stroke="#2F2768"
    stroke-width="2.8693"></rect>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M49.8107 206.167L0 334.066H26.9652L38.1975 304.998H86.4862L97.7185 334.066H124.684L74.8731 206.167H49.8107ZM76.8859 280.413H47.7979L62.3419 242.685L76.8859 280.413Z"
    fill="url(#paint0_linear_296_2103)"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M134.604 253.832L133.432 251.44L131.218 252.52L140.017 274.804L142.6 273.568L142.601 273.568L142.602 273.567L142.625 273.557C142.634 273.552 142.646 273.547 142.66 273.54C142.677 273.532 142.697 273.523 142.72 273.512C142.747 273.5 142.778 273.485 142.814 273.469C142.842 273.456 142.872 273.442 142.905 273.427C142.967 273.399 143.037 273.367 143.115 273.332C143.468 273.174 143.991 272.945 144.66 272.669C145.999 272.115 147.914 271.375 150.194 270.634C154.791 269.14 160.717 267.7 166.37 267.7C169.708 267.7 173.65 268.506 176.664 270.399C179.551 272.213 181.604 275.005 181.604 279.398V279.6C180.937 279.295 180.192 278.979 179.371 278.664C175.21 277.069 169.095 275.51 161.105 275.51C142.045 275.51 125.793 287.814 125.793 305.664C125.793 325.188 141.778 336.167 158.472 336.167C168.5 336.167 175.87 332.791 180.737 329.38C181.639 328.748 182.453 328.116 183.184 327.504V334.066H208V277.296C208 267.131 204.198 258.601 197.034 252.66C189.927 246.768 179.781 243.641 167.423 243.641C158.373 243.641 149.886 245.597 143.702 247.527C140.599 248.495 138.052 249.464 136.273 250.194C135.383 250.559 134.684 250.866 134.202 251.083C133.961 251.192 133.774 251.279 133.645 251.339C133.58 251.37 133.53 251.394 133.494 251.411L133.452 251.431L133.439 251.437L133.435 251.439L133.434 251.44C133.433 251.44 133.432 251.44 134.604 253.832ZM164.966 313.334C161.902 313.334 158.639 312.866 156.24 311.589C155.074 310.969 154.176 310.192 153.563 309.239C152.959 308.3 152.54 307.047 152.54 305.314C152.54 301.932 154.149 299.801 156.527 298.384C159.038 296.888 162.381 296.243 165.317 296.243C170.694 296.243 175.158 297.234 178.264 298.219C179.678 298.668 180.806 299.113 181.604 299.46V305.453C181.456 305.631 181.274 305.842 181.058 306.079C180.328 306.88 179.226 307.961 177.766 309.044C174.85 311.206 170.568 313.334 164.966 313.334Z"
    fill="url(#paint1_linear_296_2103)"></path>
  <defs>
    <linearGradient
      id="paint0_linear_296_2103"
      x1="-7.49551"
      y1="206.168"
      x2="189.05"
      y2="221.912"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#463A9C"></stop>
      <stop offset="1" stop-color="#BE63C7"></stop>
    </linearGradient>
    <linearGradient
      id="paint1_linear_296_2103"
      x1="-7.49551"
      y1="206.168"
      x2="189.05"
      y2="221.912"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#463A9C"></stop>
      <stop offset="1" stop-color="#BE63C7"></stop>
    </linearGradient>
  </defs>
</svg>
