---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Section from "../../components/Section.astro";
import SubTitle from "../../components/Typo/SubTitle.astro";
import Title from "../../components/Typo/Title.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Seoder VS. Zendesk Sell"
  description={"Why Seoder fits better than another marketing lead generation tool."}
>
  <main>
    <Navbar target={"Seoder VS. Zendesk Sell"} />
    <div class="prog">
      <Section center>
        <Title center>Seoder VS. Zendesk Sell</Title>
        <p>Learn why Seoder is a great Zendesk Sell alternative.</p>
        <SubTitle>Why choose Seoder over Zendesk Sell?</SubTitle>
        <p>Get more from your leadgen tool with less downtime.</p>

        <div>Full compare list coming soon...</div>
      </Section>
    </div>
  </main>
  <div class={"space"}></div>
  <Footer />
</Layout>

<style>
  .space {
    height: 11rem;
  }
  .button-container {
    padding-top: 0.8rem;
    padding-bottom: 5rem;
  }
  .button-container button {
    text-transform: uppercase;
    color: #2f2768;
    border: none;
    padding: 0.85rem 0.8rem;
    border-radius: 0.3rem;
    min-width: 16.8rem;
    margin: 0;
    background-color: #e8c01a;
    font-weight: 700;
  }
  .button-container button:hover {
    background-color: #e9c73e;
  }
</style>
