---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
  </head>
  <body>
    <slot />
    <script src="https://metrics.seoder.io/script.js" data-site="JAYJESFT" defer
    ></script>
    <style is:global>
      :root {
        --max-width: 142.884ch;
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      body {
        margin: 0;
        padding: 0;
      }
      html {
        font-family: system-ui, sans-serif;
        font-size: 16px;
        background-color: #f5f5f5;
      }
      main {
        margin: auto;
        position: relative;
        max-width: var(--max-width);
      }
      h2 {
        margin: 0;
        padding: 0.5rem 0;
      }
      .highlight {
        color: #e8c01a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        margin: 0;
      }
    </style>
  </body>
</html>
