---
import { CampaignList } from "./CampaignList";
import EmptyCampaign from "./Empty/Create.astro";
---

<div class="card-body">
  <CampaignList client:visible>
    <EmptyCampaign />
  </CampaignList>
</div>

<style>
  .card-body {
    overflow: auto;
  }
</style>
