<div class="license-form">
  <label for="license">License Key</label>
  <input
    name="license"
    placeholder="XXXX-XXXX-XXXXX-XXXXX-XXXXXX"
    type="text"
    class="license-input"
  />
  <div class="gutter-t">
    <button type="submit" class="submit">Verify License Key</button>
  </div>
</div>

<style>
  .license-form {
    padding: 1.5rem 1.2rem;
    background: #ffffff;
    border-radius: 4px;
    color: #2f2768;
    place-content: center;
    order: 3;
    gap: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .license-input {
    box-sizing: border-box;
    width: 319px;
    height: 44px;
    background: #ffffff;
    border: 2px solid #e8c01a;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
  }
  .submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 6px;
    height: 44px;
    background: #ebecf2;
    border-radius: 4px;
    border: 0;
    color: #2f2768;
    opacity: 0.6;
    font-size: 1rem;
  }
  label {
    font-weight: 700;
  }
</style>
