<form id="elicense" class="hidden">
  <label for="license">Name</label>
  <input
    name="license"
    placeholder="License key"
    type="text"
    class="form-control"
  />
  <div class="gutter-t">
    <button type="submit" class="button btn-primary">Submit</button>
  </div>
</form>
