<div class="row hidden full" id="appProgram">
  <div class="panel panel-left">
    <slot name="left" />
  </div>
  <div class="panel">
    <slot name="right" />
  </div>
</div>

<style>
  .panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 0.25rem;
    height: 100%;
  }

  .panel-left {
    flex: 0.6;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
</style>
