---
import Close from "./Svgs/Close.astro";
import Switch from "./Switch.astro";
---

<div id="settings-container" class="hidden">
  <div class="modal-outer">
    <div class="modal">
      <div class="settings-bar">
        <div>Settings</div>
        <button id="settings-button-close">
          <Close />
        </button>
      </div>
      <form id="bufferform" class="ph frame flex-row center-align">
        <label for="buffer-select">Buffer</label>
        <div class="ph">
          <input
            type="range"
            name="buffer"
            id="buffer-select"
            min="25"
            max="200"
          />
        </div>
        <div class="flex align-end">
          <div>
            <button type="submit" class="button btn-primary">Update</button>
          </div>
        </div>
      </form>

      <div id="proxyform" class="ph frame flex-row center-align gap">
        <label for="proxy-select">Use Proxy</label>
        <Switch id="proxy-select" />
      </div>

      <div id="torform" class="ph frame flex-row center-align gap">
        <label for="tor-select">Use Tor</label>
        <Switch id="tor-select" />
      </div>

      <form id="fsform" class="ph frame flex-row center-align">
        <label for="target-select">Target</label>
        <div class="ph">
          <select name="target" id="target-select"></select>
        </div>
        <div class="flex align-end">
          <div>
            <button type="button" class="button" id="fs-delete">Delete</button>
            <button type="submit" class="button btn-primary">Update</button>
          </div>
        </div>
      </form>

      <form
        id="uploadform"
        class="ph frame flex-row center-align"
        enctype="multipart/form-data"
        method="post"
      >
        <label for="file">Crawl list</label>
        <div class="ph">
          <input type="file" accept="text/plain" name="file" />
        </div>
        <button class="btn-primary button">Upload</button>
      </form>

      <form id="ulicense" class="ph frame flex-row center-align">
        <label for="license">License Key</label>
        <div class="ph">
          <input
            name="license"
            placeholder="XXXX-XXXX-XXXXX-XXXXX-XXXXXX"
            type="text"
            class="license-input"
          />
        </div>
        <button class="btn-primary button">Set License</button>
      </form>
    </div>
  </div>
</div>

<style>
  #settings-container {
    -webkit-backface-visibility: hidden;
  }
  .settings-bar {
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(47, 39, 104, 0.1);
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #2f2768;
  }

  #settings-button-close {
    background-color: transparent;
  }

  label:not(.switch) {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #2f2768;
    padding-left: 1rem;
    min-width: 7rem;
    text-align: left;
  }

  .gap {
    gap: 1rem;
  }
</style>
