<div class="grid-space">
  <div class="flex-row spaceless stats">
    <div class="text-center ph cpu-box">
      <div class="gutter stats-head">CPU</div>
      <canvas id="cpu-stats" width="200" height="200"></canvas>
    </div>
    <div class="text-center ph cpu-box">
      <div class="gutter stats-head">Memory</div>
      <canvas id="memory-stats" width="200" height="200"></canvas>
    </div>
    <div class="stats-box ph">
      <div class="gutter stats-head">Network</div>
      <div class="tild">Received, Transmited, Total Transmited</div>
      <div id="network-stats" class="stats-bar gutter"></div>
    </div>
  </div>
</div>
