---
export interface Props {
  title?: string;
  href?: string;
}

const { title, href } = Astro.props;
---

<a href={href ?? "/"}>{title ?? "BUY NOW"}</a>

<style>
  a {
    background-color: #e8c01a;
    border-radius: 4px;
    padding: 0.7rem 4rem;
    color: #2f2768;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    display: block;
  }
</style>
