---
export interface Props {
  title?: string;
  href?: string;
}

const { title, href } = Astro.props;
---

<a href={href ?? "/"}>{title ?? "BUY NOW"}</a>

<style>
  a {
    background-color: #e8c01a;
    border-radius: 4px;
    padding: 0.8rem 4.5rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
  }
</style>
