---
import FooterBg from "./Svgs/FooterBg.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <div class="container">
      <a href="https://usefathom.com/ref/IRZNZG" rel="noopener" target="_blank"
        >Analytics</a
      >
      <a href="mailto:support@seoder.io">Support Team</a>
      <a href="/payments">Buy Now</a>
    </div>
    <p class={"cc"}>
      Seoder &copy; {currentYear}
    </p>
  </div>
  <div class="footer-bg">
    <FooterBg />
  </div>
</footer>

<style>
  footer {
    position: relative;
    overflow: hidden;
  }
  .footer-container {
    padding: 2.4rem 2rem;
    margin: auto;
    z-index: 2;
    max-width: 105ch;
  }
  .container {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  }
  footer a {
    color: #2f2768;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
  }
  .cc {
    font-size: 0.76rem;
    opacity: 0.7;
  }
  .footer-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    pointer-events: none;
  }

  @media only screen and (max-width: 800px) {
    footer {
      background: rgba(232, 192, 26, 0.17);
    }
    .footer-bg {
      display: none;
    }
  }
</style>
