---
import FooterBg from "./Svgs/FooterBg.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <div class="container">
      <a href="https://usefathom.com/ref/IRZNZG" rel="noopener" target="_blank"
        >Analytics</a
      >
      <a href="mailto:support@seoder.io">Support Team</a>
      <a href="/payments">Buy Now</a>
    </div>
    <p class={"cc"}>
      Seoder &copy; {currentYear}
    </p>
  </div>
  <FooterBg />
</footer>

<style>
  footer {
    position: relative;
  }
  .footer-container {
    padding: 3rem 0;
    position: relative;
    margin: auto;
    padding-top: 1.5rem;
    z-index: 2;
    position: relative;
    max-width: 105ch;
  }
  .container {
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  }
  footer a {
    color: #2f2768;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .cc {
    font-size: 0.76rem;
    opacity: 0.5;
  }
</style>
