---
import AnchorButton from "./AnchorButton.astro";
import Search from "./Svgs/Search.astro";
import Download from "./Download.astro";
import Title from "./Typo/Title.astro";
import Section from "./Section.astro";
import FeatureList from "./FeatureList.astro";
import Hero from "./Svgs/Hero.astro";
import Highlight from "./Highlight.astro";
import App from "./Svgs/App.astro";
import { appTitle } from "../statics/title";
---

<div class="prog">
  <Section>
    <div class="flex-wrap">
      <div>
        <Title>{appTitle} lists quickly</Title>
        <p class="instructions text-primary">
          Import thousands of domains and identify organic meta information {
            `you’re`
          } looking for.
        </p>
        <div class={"text-center"}>
          <div>
            <AnchorButton href="/payments" title={"BUY NOW"} />
          </div>
        </div>
      </div>
      <div>
        <Hero />
      </div>
    </div>
  </Section>
  <Section>
    <div class="row features">
      <div class="features">
        <Highlight>Features</Highlight>
        <h2 class="text-primary sub-heading">Beyond fast keyword finder</h2>
        <Search />
      </div>
      <FeatureList />
    </div>
  </Section>
  <Section>
    <App />
  </Section>
  <Section>
    <Download />
  </Section>
  <Section>
    <h4>Steps for matching websites</h4>
    <p>
      It takes 3 steps to enhance your next marketing campaign with Seoder.
      First you establish your target domains in a list or standard txt file.
      Then determine the keywords you are looking for across the list. The last
      step is running the campaign that will provide the intelligence to
      determine if the website matches the category. After it finds the match it
      delivers information to help provide follow-ups and other workflows. You
      can think of Seoder as your personal engine to determine keywords and SEO
      targets for websites.
    </p>
  </Section>
</div>

<style>
  .heading {
    font-size: 1.4rem;
  }
  .sub-heading {
    font-size: 2.25rem;
    max-width: 14rem;
    font-weight: 600;
  }
  .trial {
    font-size: 0.8rem;
    color: #2f2768;
    padding: 0.6rem 0;
    margin: 0;
    opacity: 0.8;
  }
  .text-center {
    max-width: 14rem;
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .features {
    justify-content: center;
    flex: 0.4;
  }
  .text-primary {
    color: #2f2768;
  }
  .instructions {
    font-size: 2rem;
    max-width: 36rem;
    color: #2f2768;
    margin: 0;
    padding-bottom: 3.6rem;
  }
  .bg {
    width: 100%;
    height: auto;
  }
  .flex-wrap {
    display: flex;
    flex-direction: row;
    gap: 5.9rem;
    text-align: left;
  }

  @media only screen and (max-width: 1080px) {
    .flex-wrap {
      gap: 3rem;
      flex-wrap: wrap;
    }
  }
</style>
