---
import AnchorButton from "./AnchorButton.astro";
import Title from "./Typo/Title.astro";
import Section from "./Section.astro";
---

<div class="prog">
  <Section>
    <div class="flex-wrap">
      <div>
        <Title
          >Find outbound prospects for {`you’re`} next marketing campaign</Title
        >
        <p class="instructions text-primary">
          Get leads with little downtime and high conversion ratios
        </p>
        <div class={"text-center"}>
          <div>
            <AnchorButton href="https://seoder.com" title={"Learn More"} />
          </div>
        </div>
      </div>
      <div class="flex-center bg pad">
        <div class={"hero-bg flex-center"}>
          <AnchorButton href="https://seoder.com/payments" title={"BUY NOW"} />
        </div>
      </div>
    </div>
  </Section>
</div>

<style>
  .heading {
    font-size: 1.4rem;
  }
  .sub-heading {
    font-size: 2.25rem;
    max-width: 14rem;
    font-weight: 600;
  }
  .trial {
    font-size: 0.8rem;
    color: #2f2768;
    padding: 0.6rem 0;
    margin: 0;
    opacity: 0.8;
  }
  .text-center {
    max-width: 14rem;
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .features {
    justify-content: center;
    flex: 0.4;
  }
  .text-primary {
    color: #2f2768;
  }
  .instructions {
    font-size: 2rem;
    max-width: 36rem;
    color: #2f2768;
    margin: 0;
    padding-bottom: 3.6rem;
  }
  .bg {
    width: 100%;
    height: auto;
  }
  .flex-wrap {
    display: flex;
    flex-direction: row;
    gap: 5.9rem;
    text-align: left;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-bg {
    border: 3px solid #2f2768;
    padding: 5rem;
    height: 13rem;
    width: auto;
    border-radius: 30rem;
    background-color: #2f2768;
  }

  .pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media only screen and (max-width: 1080px) {
    .flex-wrap {
      gap: 3rem;
      flex-wrap: wrap;
    }
  }
</style>
