<svg
  width="150"
  height="56"
  viewBox="0 0 150 56"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Logo Light</title>
  <path
    d="M58.7045 22.6366C57.2235 22.6366 56.5795 23.2055 56.572 23.9793C56.5303 24.8252 57.2765 25.3145 58.947 25.6673L60.3939 25.9783C64.2841 26.8128 65.8864 28.7017 65.9015 31.391C65.8826 34.8731 63.2083 36.8038 58.7424 36.8038C54.1477 36.8038 51.1515 34.82 51.1364 30.3935H55.6818C55.7576 32.0131 56.8447 32.8741 58.678 32.8741C60.2083 32.8741 61 32.2635 61.0189 31.391C61 30.5907 60.3295 30.0976 58.3674 29.669L56.6098 29.2897C53.4848 28.6183 51.5758 27.0821 51.5833 24.3245C51.5568 20.9638 54.5189 18.7069 58.7083 18.7069C62.9773 18.7069 65.6439 20.9979 65.6629 24.4648H61.0833C60.9848 23.3193 60.25 22.6366 58.7045 22.6366Z"
    fill="#2F2768"></path>
  <path
    d="M67.3143 30.0142C67.3143 25.91 69.9318 23.1866 74.0265 23.1866C78.0189 23.1866 80.6022 25.7621 80.6022 29.9762V31.08H71.9961V31.2849C71.9961 32.5593 72.8219 33.4924 74.2348 33.4924C75.2083 33.4924 75.9886 33.0714 76.2651 32.3204H80.6022C80.1552 35.078 77.7954 36.838 74.1287 36.838C69.8939 36.8418 67.3143 34.2966 67.3143 30.0142ZM76.231 28.4628C76.2045 27.3249 75.3105 26.5321 74.1325 26.5321C72.9696 26.5321 72.0227 27.3173 71.9999 28.4628H76.231Z"
    fill="#2F2768"></path>
  <path
    d="M82.0492 30.0142C82.0492 25.948 84.5984 23.1866 88.9015 23.1866C93.2045 23.1866 95.7499 25.9442 95.7499 30.0142C95.7499 34.0804 93.2007 36.838 88.9015 36.838C84.5984 36.8418 82.0492 34.0804 82.0492 30.0142ZM90.8977 29.98C90.8977 27.9014 90.1401 26.6345 88.9356 26.6345C87.6628 26.6345 86.9053 27.9014 86.9053 29.98C86.9053 32.0587 87.6628 33.3256 88.9356 33.3256C90.1401 33.3256 90.8977 32.0587 90.8977 29.98Z"
    fill="#2F2768"></path>
  <path
    d="M97.2689 29.98C97.2689 25.1893 99.8182 23.1903 102.432 23.1903C104.394 23.1903 105.633 24.3283 106.152 25.671H106.22V18.9496H110.97V36.599H106.254V34.4255H106.152C105.602 35.7683 104.326 36.7696 102.47 36.7696C99.6439 36.7696 97.2689 34.5659 97.2689 29.98ZM106.326 29.98C106.326 28.0152 105.534 26.8431 104.227 26.8431C102.92 26.8431 102.163 28.0152 102.163 29.98C102.163 31.9448 102.92 33.1169 104.227 33.1169C105.534 33.1169 106.326 31.9107 106.326 29.98Z"
    fill="#2F2768"></path>
  <path
    d="M112.833 30.0142C112.833 25.91 115.451 23.1866 119.545 23.1866C123.538 23.1866 126.121 25.7621 126.121 29.9762V31.08H117.515V31.2849C117.515 32.5593 118.341 33.4924 119.754 33.4924C120.727 33.4924 121.507 33.0714 121.784 32.3204H126.121C125.674 35.078 123.314 36.838 119.648 36.838C115.417 36.8418 112.833 34.2966 112.833 30.0142ZM121.75 28.4628C121.723 27.3249 120.829 26.5321 119.651 26.5321C118.489 26.5321 117.542 27.3173 117.519 28.4628H121.75Z"
    fill="#2F2768"></path>
  <path
    d="M128.053 23.3611H132.667V25.8759H132.803C133.284 24.0135 134.386 23.1866 135.799 23.1866C136.212 23.1866 136.625 23.2549 137.004 23.3687V27.4273C136.53 27.2642 135.739 27.1845 135.246 27.1845C133.845 27.1845 132.803 28.1859 132.803 29.6993V36.5952H128.053V23.3611Z"
    fill="#2F2768"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M34.0175 14.3046C29.9402 13.6242 25.7788 13.6242 21.7017 14.3046C19.8154 14.6161 18.074 15.5117 16.7224 16.8652C15.3704 18.2188 14.4764 19.9628 14.1652 21.8518C13.4859 25.9344 13.4859 30.1019 14.1652 34.1845C14.4763 36.0735 15.3704 37.8172 16.7224 39.1711C18.074 40.5246 19.8154 41.4202 21.7017 41.7314C23.7381 42.0587 25.7976 42.2176 27.8596 42.2064C29.9228 42.2058 31.9824 42.0352 34.0175 41.6961C35.9039 41.3846 37.6452 40.489 38.9969 39.1354C40.3489 37.7819 41.2429 36.0379 41.554 34.1489C41.8858 32.1165 42.0503 30.0601 42.046 28.0004C42.0454 25.9344 41.875 23.872 41.5364 21.8341C41.2231 19.951 40.33 18.2128 38.9817 16.863C37.6337 15.5128 35.898 14.6185 34.0175 14.3048L34.0175 14.3046ZM27.07 26.2243H30.0758V26.2244C30.9658 26.2263 31.7937 26.6811 32.2733 27.4318C32.753 28.1824 32.8188 29.1256 32.4477 29.9354V29.9357L30.3375 34.5126C30.1507 34.9558 29.7923 35.3044 29.3442 35.4782C28.896 35.6519 28.397 35.6361 27.9606 35.4348C27.5243 35.2332 27.1884 34.8629 27.0298 34.4086C26.8712 33.9547 26.9033 33.4555 27.1189 33.0253L28.6175 29.7757H25.6116C24.7204 29.7745 23.891 29.3193 23.4111 28.5674C22.9311 27.8152 22.8665 26.8704 23.2397 26.06L25.35 21.4874C25.5367 21.0443 25.8952 20.6956 26.3433 20.5219C26.7911 20.3482 27.2905 20.3639 27.7268 20.5652C28.1632 20.7668 28.499 21.1372 28.6577 21.5914C28.8163 22.0454 28.7842 22.5446 28.5686 22.9747L27.07 26.2243Z"
    fill="#2F2768"></path>
</svg>
