---
import AnchorButton from "./AnchorButton.astro";
import LogoLight from "./LogoLight.astro";

export interface Props {
  target?: string;
  hiddenBuy?: boolean;
}

const { target, hiddenBuy } = Astro.props;
---

<nav class="nav">
  <a href={"/"}>
    <LogoLight />
  </a>
  {
    target !== "payments" && !hiddenBuy ? (
      <AnchorButton href="/payments" title={"7 Day Trial"} />
    ) : null
  }
</nav>

<style>
  .nav {
    padding: 1.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: center;
  }
</style>
