---
import AnchorButton from "./AnchorButton.astro";
import LogoLight from "./LogoLight.astro";

export interface Props {
  target?: string;
}

const { target } = Astro.props;
---

<nav>
  <a href={"/"}>
    <LogoLight />
  </a>
  {
    target !== "payments" ? (
      <AnchorButton href="/payments" title={"BUY NOW"} />
    ) : null
  }
</nav>

<style>
  nav {
    padding: 1.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: center;
  }
</style>
