---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import SubTitle from "../components/Typo/SubTitle.astro";
import Title from "../components/Typo/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Seoder - Frequently Asked Questions"
  description={"Frequently asked questions and answers to help you with using Seoder."}
>
  <main>
    <Navbar target={"faq"} />
    <div class="prog">
      <Section center>
        <Title center>Frequently Asked Questions</Title>
        <SubTitle>Common questions and answers</SubTitle>
        <ul>
          <li>
            <h3>License Machine limits</h3>
            <p>
              Currently each license allows usage on one machine. If you need to
              run on another machine you need to purchase another license.
            </p>
          </li>
          <li>
            <h3>Update Frequency</h3>
            <p>
              We roll out changes often and try to make each update compatible
              across all future system updates.
            </p>
          </li>
          <li>
            <h3>Money back Guarantee</h3>
            <p>
              If you are not happy with the state of Seoder at anytime during
              the first 7 days we will offer a full refund by reaching out to <a
                href="mailto:support@seoder.io">support</a
              >.
            </p>
          </li>
        </ul>
      </Section>
    </div>
  </main>
  <div class={"space"}></div>
  <Footer />
</Layout>

<style>
  .space {
    height: 11rem;
  }
  .button-container {
    padding-top: 0.8rem;
    padding-bottom: 5rem;
  }
  .button-container button {
    text-transform: uppercase;
    color: #2f2768;
    border: none;
    padding: 0.85rem 0.8rem;
    border-radius: 0.3rem;
    min-width: 16.8rem;
    margin: 0;
    background-color: #e8c01a;
    font-weight: 700;
  }
  .button-container button:hover {
    background-color: #e9c73e;
  }
</style>
