---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Seoder - The marketing lead generation tool">
  <main>
    <h1>Welcome to <span class="text-gradient">Seoder</span></h1>
    <p class="instructions">
      The best marketing lead generation tool<br />
    </p>

    <h2>Purchase License</h2>
    <p>You can purchase a license now to use the product once it is ready.</p>

    <Card
      href="/payments"
      title="Purchase"
      body="Buy a license to use the product"
    />

    <h3>Downloads</h3>

    <p>
      Downloads for other platforms will roll out soon like Linux and Windows
    </p>

    <ul role="list" class="link-card-grid">
      <Card
        href="/seoder_app_0.0.0_aarch64.dmg"
        title="Download Mac-Intel"
        body="Pre-release arch64"
      />
      <!-- <Card
        href="/seoder_build_test_arch64-apple-darwin"
        title="Download Mac-AMD (Placeholder for DMG)"
        body="Download arch64-apple-darwin"
      /> -->
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
