---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Apple from "../components/Logos/Apple.astro";
import Linux from "../components/Logos/Linux.astro";
import Windows from "../components/Logos/Windows.astro";
import Navbar from "../components/Navbar.astro";
import AnchorButton from "../components/AnchorButton.astro";
import Search from "../components/Svgs/Search.astro";
import Feature from "../components/Feature.astro";
import Download from "../components/Download.astro";
---

<Layout title="Seoder - The marketing lead generation tool">
  <main>
    <Navbar />
    <div class="prog">
      <section>
        <div class="flex-wrap">
          <div>
            <h1 class="text-primary title">
              Find keywords in bulk links quickly
            </h1>
            <p class="instructions text-primary">
              Import thousands of domains and identify keywords {`you’re`} looking
              for
            </p>
            <div class={"text-center"}>
              <AnchorButton href="/payments" title={"BUY NOW"} />
              <p class="trial">Try free 7 day trial</p>
            </div>
          </div>
          <div>
            <img
              src="/bg.png"
              class="bg"
              height={333}
              width={333}
              alt="Seoder app intro display"
            />
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div>
            <p class="highlight">Features</p>
            <h2 class="text-primary sub-heading">
              Beyond fast keyword searcher
            </h2>
            <Search />
          </div>
          <ul role="list" class="link-card-grid link-card-grid-feat">
            <Feature
              title={"Bulk upload urls"}
              body={`Custom import as many urls as you’d like to scan against`}
              img={"/icons/bulk.svg"}
            />
            <Feature
              title={"Export to csv"}
              body={`Easily export your data for each scan`}
              img={"/icons/feature.svg"}
            />
            <Feature
              title={"Use Tor and Proxy"}
              body={`Prevent tracking and anonymously crawl domains using Tor or rotating proxy servers`}
              img={"/icons/eye.svg"}
            />
            <Feature
              title={"Find contact emails"}
              body={`Reach out to prospective leads automatically with our automatic email finder`}
              img={"/icons/contact.svg"}
              soon
            />
            <Feature
              title={"Install up to 3 computers"}
              body={`Got more than one machine? No worries, you can install Seoder on up to 3 computers`}
              img={"/icons/computer.svg"}
            />
            <Feature
              title={"Search over 200+ million domains"}
              body={`Scan over 200+ million active domains or choose specific top level domains`}
              img={"/icons/world.svg"}
              soon
            />
          </ul>
        </div>
      </section>

      <Download />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    position: relative;
    max-width: 105ch;
  }

  section {
    padding-bottom: 4rem;
  }

  .heading {
    font-size: 1.4rem;
  }
  .sub-heading {
    font-size: 1.7rem;
    max-width: 14rem;
  }

  .title {
    font-size: 3rem;
    background: linear-gradient(92.87deg, #463a9c -3.43%, #be63c7 87.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .trial {
    font-size: 0.7rem;
    color: #2f2768;
    padding: 0.5rem 0;
  }
  .text-center {
    max-width: 14rem;
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    max-width: 25rem;
  }
  .text-primary {
    color: #2f2768;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    font-size: 1.6rem;
    max-width: 30rem;
    color: #2f2768;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .link-card-grid-feat {
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(31ch, 1fr));
  }
  .prog {
    padding: 1.5rem;
  }
  .bg {
    width: 100%;
  }
  .flex-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
  }
  .flex-wrap a {
    background: #d9d9d9;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
  }
  .highlight {
    color: #e8c01a;
  }
</style>
