---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Apple from "../components/Logos/Apple.astro";
import Linux from "../components/Logos/Linux.astro";
import Windows from "../components/Logos/Windows.astro";
---

<Layout title="Seoder - The marketing lead generation tool">
  <main>
    <div class="prog">
      <h1>Welcome to <span class="text-gradient">Seoder</span></h1>
      <p class="instructions">
        The best marketing lead generation tool<br />
      </p>
      <h2>Purchase License</h2>
      <p>You can purchase a license now to use the product once it is ready.</p>

      <Card
        href="/payments"
        title="Purchase"
        body="Buy a license to use the product"
      />

      <h3>Downloads</h3>

      <p>
        Download and install the program on your platform. Updates are rolled
        out often during pre-release stages.
      </p>

      <ul role="list" class="link-card-grid">
        <Card
          href="/releases/Seoder_0.0.1_aarch64"
          title="Desktop Mac Silicon"
          body="Pre-release arch64 M1 chips"
        >
          <Apple />
        </Card>
        <Card
          href="/releases/Seoder_0.0.1_universal.dmg"
          title="Desktop Mac Universal"
          body="Pre-release mac universal"
        >
          <Apple />
        </Card>
        <Card
          href="/releases/seoder_app_0.0.1_linux.app.tar.gz"
          title="Desktop Linux"
          body="Pre-release linux"
        >
          <Linux />
        </Card>
        <Card
          href="/releases/seoder_app_0.0.1_x64_en-US.msi"
          title="Desktop Windows"
          body="Pre-release windows"
        >
          <Windows />
        </Card>
      </ul>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    max-width: 60ch;
    position: relative;
    z-index: 2;
    padding-top: 10%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .prog {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 3px solid black;
  }
</style>
