---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Apple from "../components/Logos/Apple.astro";
import Linux from "../components/Logos/Linux.astro";
import Windows from "../components/Logos/Windows.astro";
import Navbar from "../components/Navbar.astro";
import AnchorButton from "../components/AnchorButton.astro";
---

<Layout title="Seoder - The marketing lead generation tool">
  <main>
    <Navbar />
    <div class="prog">
      <div class="flex-wrap">
        <div>
          <h1>Find keywords in bulk links quickly</h1>
          <p class="instructions">
            Import thousands of URLs and identify keywords {`you’re`} looking for
          </p>
          <AnchorButton href="/payments" title={"BUY NOW"} />
        </div>
        <div>
          <img
            src="/bg.png"
            class="bg"
            height={333}
            width={333}
            alt="Seoder app intro display"
          />
        </div>
      </div>

      <h2>Targeted Marketing Campaigns</h2>
      <p>Get the most out of a quick and easy lead generation tool</p>

      <h3>Downloads</h3>

      <p>
        Download and install the program on your platform. Updates are rolled
        out often during pre-release stages.
      </p>

      <ul role="list" class="link-card-grid">
        <Card
          href="/releases/Seoder_0.0.1_aarch64"
          title="Desktop Mac Silicon"
          body="Pre-release arch64 M1 chips"
        >
          <Apple />
        </Card>
        <Card
          href="/releases/Seoder_0.0.1_universal.dmg"
          title="Desktop Mac Universal"
          body="Pre-release mac universal"
        >
          <Apple />
        </Card>
        <Card
          href="/releases/seoder_app_0.0.1_linux.app.tar.gz"
          title="Desktop Linux"
          body="Pre-release linux"
        >
          <Linux />
        </Card>
        <Card
          href="/releases/seoder_app_0.0.1_x64_en-US.msi"
          title="Desktop Windows"
          body="Pre-release windows"
        >
          <Windows />
        </Card>
      </ul>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    position: relative;
    max-width: 100ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    max-width: 25rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .prog {
    padding: 1.5rem;
  }
  .bg {
    width: 100%;
  }
  .flex-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
  }
  .flex-wrap a {
    background: #d9d9d9;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
  }
</style>
