---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import AnchorButton from "../components/AnchorButton.astro";
import Search from "../components/Svgs/Search.astro";
import Feature from "../components/Feature.astro";
import Download from "../components/Download.astro";
import Title from "../components/Typo/Title.astro";
import { Image } from "@astrojs/image/components";
import Section from "../components/Section.astro";
---

<Layout
  title="Seoder - The marketing lead generation tool"
  description={"Lead generation at with no downtime across the internet. Make marketing insightful marketing campaigns quickly."}
>
  <main>
    <Navbar />
    <div class="prog">
      <Section>
        <div class="flex-wrap">
          <div>
            <Title>Find keywords in bulk links quickly</Title>
            <p class="instructions text-primary">
              Import thousands of domains and identify keywords {`you’re`} looking
              for
            </p>
            <div class={"text-center"}>
              <div>
                <AnchorButton href="/payments" title={"BUY NOW"} />
              </div>
              <p class="trial">Try free 7 day trial</p>
            </div>
          </div>
          <div>
            <Image
              src="/screens/App-Landing-Screenshot.png"
              srcset={`
              /screens/App-Landing-Screenshot@3x.png 1818w,
              /screens/App-Landing-Screenshot@2x.png 1212w,
              /screens/App-Landing-Screenshot.png 606w
            `}
              sizes={`((min-width: 50em) and (max-width: 60em)) 50em,
            ((min-width: 30em) and (max-width: 50em)) 30em,
            (max-width: 30em) 20em`}
              class="bg"
              height={460}
              width={630}
              alt="Seoder app intro display"
              quality={100}
            />
          </div>
        </div>

        <Section>
          <div class="row features">
            <div class="features">
              <p class="highlight">Features</p>
              <h2 class="text-primary sub-heading">
                Beyond fast keyword searcher
              </h2>
              <Search />
            </div>
            <ul role="list" class="link-card-grid link-card-grid-feat">
              <Feature
                title={"Bulk upload urls"}
                body={`Custom import as many urls as you’d like to scan against`}
                img={"/icons/bulk.svg"}
              />
              <Feature
                title={"Export to csv"}
                body={`Easily export your data for each scan`}
                img={"/icons/feature.svg"}
              />
              <Feature
                title={"Use Tor and Proxy"}
                body={`Prevent tracking and anonymously crawl domains using Tor or rotating proxy servers`}
                img={"/icons/eye.svg"}
              />
              <Feature
                title={"Find contact emails"}
                body={`Reach out to prospective leads automatically with our automatic email finder`}
                img={"/icons/contact.svg"}
                soon
              />
              <Feature
                title={"Install on any System"}
                body={`Take the application home on any OS without any hard usage limits`}
                img={"/icons/computer.svg"}
              />
              <Feature
                title={"Search over 200+ million domains"}
                body={`Scan over 200+ million active domains or choose specific top level domains`}
                img={"/icons/world.svg"}
                soon
              />
            </ul>
          </div>

          <Download />
        </Section>
      </Section>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .heading {
    font-size: 1.4rem;
  }

  .sub-heading {
    font-size: 2.25rem;
    max-width: 14rem;
    font-weight: 600;
  }

  .trial {
    font-size: 0.8rem;
    color: #2f2768;
    padding: 0.6rem 0;
    margin: 0;
    opacity: 0.8;
  }
  .text-center {
    max-width: 14rem;
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .features {
    justify-content: center;
    flex: 0.4;
  }
  .text-primary {
    color: #2f2768;
  }
  .instructions {
    font-size: 2rem;
    max-width: 36rem;
    color: #2f2768;
    margin: 0;
    padding-bottom: 3.6rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .link-card-grid-feat {
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(31ch, 1fr));
    gap: 2rem;
  }
  .bg {
    width: 100%;
  }
  .flex-wrap {
    display: flex;
    flex-direction: row;
    gap: 5.9rem;
    text-align: left;
  }
  @media only screen and (max-width: 1080px) {
    .flex-wrap {
      gap: 3rem;
      flex-wrap: wrap;
    }
  }
</style>
