---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Landing from "../components/Landing.astro";
import LandingIO from "../components/LandingIO.astro";

const canonicalURL = new URL(Astro.site);
const domain = canonicalURL.hostname;
---

<Layout
  title="Seoder - The marketing outbound lead generation tool"
  description={"Outbound lead generation fast with little downtime. Insightful marketing campaigns for high conversion ratios and templating tools."}
>
  <main>
    <Navbar />
    {domain.endsWith(".io") ? <LandingIO /> : <Landing />}
  </main>
  <Footer />
</Layout>
