---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Landing from "../components/Landing.astro";
import { appTitle } from "../statics/title";
---

<Layout
  companyTitle
  title={appTitle}
  description={"Website keyword finding across mass domain lists. Insightful marketing campaigns for high conversion ratios and templating tools."}
>
  <main>
    <Navbar />
    <Landing />
  </main>
  <Footer />
</Layout>
