---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import SubTitle from "../components/Typo/SubTitle.astro";
import Title from "../components/Typo/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Privacy Policy"
  description={"Terms and conditions to using the Seoder marketing system."}
>
  <main>
    <Navbar target={"tos"} />
    <div class="prog">
      <Section center>
        <Title center>Privacy Policy</Title>
        <SubTitle>Our respect to privacy</SubTitle>
        <p>
          We do not take any of your data or track you. All data collected is to
          improve the service related to your usage.
        </p>
        <h3>Data Policy</h3>
        <p>The collected data that you get from the app is all locale to your application. We do not collect any of the data found from your scans.</p>
        <h4>Account Retention</h4>
        <p>If you do not use your account for over 2 years, we will send you a notification on whether or not your still using it.</p>
      </Section>
    </div>
  </main>
  <div class={"space"}></div>
  <Footer />
</Layout>

<style>
  .space {
    height: 11rem;
  }
  .button-container {
    padding-top: 0.8rem;
    padding-bottom: 5rem;
  }
  .button-container button {
    text-transform: uppercase;
    color: #2f2768;
    border: none;
    padding: 0.85rem 0.8rem;
    border-radius: 0.3rem;
    min-width: 16.8rem;
    margin: 0;
    background-color: #e8c01a;
    font-weight: 700;
  }
  .button-container button:hover {
    background-color: #e9c73e;
  }
</style>
