<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seoder App</title>
  </head>

  <body>
    <div class="container">
      <div class="box sr-only">
        <h1>Spider Panel Management</h1>
        <p>Fast insight generation.</p>
        <h2>Realtime custom engine and DB handling</h2>
      </div>
      <div class="row hidden" id="appProgram">
        <div class="panel">
          <div class="card">
            <div class="card-body">
              <div class="flex-row spaceless full-w">
                <div class="panel-btn-ctn full-w">
                  <button id="settings-button" class="panel-btn full-w">
                    Settings
                  </button>
                </div>
                <div class="panel-btn-ctn full-w">
                  <button
                    id="new-campaign-button"
                    class="panel-btn button btn-primary full-w"
                  >
                    New Campaign
                  </button>
                </div>
              </div>
              <div class="flex-row spaceless">
                <form id="rsform" class="panel-btn-ctn full-w">
                  <button
                    id="run-selected"
                    class="panel-btn full-w"
                    type="submit"
                  >
                    Run Selected
                  </button>
                </form>
                <form id="rform" class="panel-btn-ctn full-w">
                  <button type="submit" class="panel-btn full-w">
                    Run All
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul id="engine-list"></ul>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="feed">
            <ul id="feed-log"></ul>
          </div>

          <div class="flex-row spaceless">
            <div class="text-center ph cpu-box">
              <div class="gutter stats-head">CPU</div>
              <canvas id="cpu-stats" width="200" height="200"></canvas>
              <div id="cpu-stats-average" class="center flex-col ph"></div>
            </div>

            <div class="stats-box ph">
              <div class="gutter stats-head">Network</div>
              <div class="tild">Received, Transmited, Total Transmited</div>
              <div id="network-stats" class="stats-bar gutter"></div>
              <div class="seperator gutter"></div>
              <div class="gutter stats-head">Memory</div>
              <div class="tild">Used, Free, Total</div>
              <div id="memory-stats" class="stats-bar"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="settings-container" class="hidden">
        <div class="modal-outer">
          <div class="modal">
            <form id="bufferform" class="ph frame flex-row center-align">
              <label for="buffer-select">Buffer</label>
              <div class="ph">
                <input
                  type="range"
                  name="buffer"
                  id="buffer-select"
                  min="25"
                  max="200"
                />
              </div>
              <div class="flex align-end">
                <div>
                  <button type="submit" class="button btn-primary">
                    Update
                  </button>
                </div>
              </div>
            </form>

            <form id="proxyform" class="ph frame flex-row center-align">
              <label for="target-select">Proxy</label>
              <div class="ph">
                <input name="proxy" id="proxy-select" type="checkbox" />
              </div>
              <div class="flex align-end">
                <div>
                  <button type="submit" class="button btn-primary">
                    Update
                  </button>
                </div>
              </div>
            </form>

            <form id="fsform" class="ph frame flex-row center-align">
              <label for="target-select">Target</label>
              <div class="ph">
                <select name="target" id="target-select"></select>
              </div>
              <div class="flex align-end">
                <div>
                  <button type="button" class="button" id="fs-delete">
                    Delete
                  </button>
                  <button type="submit" class="button btn-primary">
                    Update
                  </button>
                </div>
              </div>
            </form>

            <form
              id="uploadform"
              class="ph frame flex-row center-align"
              enctype="multipart/form-data"
              method="post"
            >
              <label for="file">Set crawl list</label>
              <div class="ph">
                <input type="file" accept="text/plain" name="file" />
              </div>
              <button class="btn-primary button">Upload</button>
            </form>

            <button id="settings-button-close">Close</button>
          </div>
        </div>
      </div>

      <div id="campaign-create-form" class="card hidden">
        <div class="modal-outer">
          <div class="modal">
            <div class="card-body">
              <h3>Create Campaign</h3>
              <form id="eform">
                <label for="ename">Name</label>
                <input
                  name="ename"
                  placeholder="engine name"
                  type="text"
                  class="form-control"
                />

                <label for="epaths">Paths</label>
                <input
                  name="epaths"
                  placeholder="/home,/welcome,/about"
                  type="text"
                  class="form-control"
                />

                <label for="epatterns">Patterns</label>
                <input
                  name="epatterns"
                  placeholder="wild cat,holy,pizza,*cats*"
                  type="text"
                  class="form-control"
                />

                <div class="gutter-t">
                  <button type="submit" class="button btn-primary">
                    Submit
                  </button>
                </div>
              </form>

              <button id="campaign-button-close">Close</button>
            </div>
          </div>
        </div>
      </div>

      <form class="hidden" id="elicense">
        <label for="license">Name</label>
        <input
          name="license"
          placeholder="License key"
          type="text"
          class="form-control"
        />
        <div class="gutter-t">
          <button type="submit" class="button btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <script src="/stats.js"></script>
    <script src="/app.js" defer></script>
  </body>
</html>
