---
export interface Props {
  center?: boolean;
}

const { center } = Astro.props;
---

<h1 class={`text-primary title${center ? " text-center" : ""}`}>
  <slot />
</h1>

<style>
  h1 {
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    max-width: 34rem;
    padding-bottom: 1.5rem;
  }
  .title {
    color: #2f2768;
    font-size: 4rem;
    background: linear-gradient(92.87deg, #463a9c -3.43%, #be63c7 87.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .text-center {
    text-align: center;
  }
</style>
