<svg
  width="206"
  height="75"
  viewBox="0 0 206 75"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>App Logo</title>
  <path
    d="M80.6209 30.1862C78.5869 30.1862 77.7026 30.9621 77.6922 32.0172C77.635 33.1707 78.6598 33.8379 80.9539 34.319L82.941 34.7431C88.2835 35.881 90.484 38.4569 90.5048 42.1241C90.4788 46.8724 86.8061 49.5052 80.673 49.5052C74.3629 49.5052 70.2481 46.8 70.2273 40.7638H76.4697C76.5738 42.9724 78.0667 44.1465 80.5845 44.1465C82.6861 44.1465 83.7734 43.3138 83.7994 42.1241C83.7734 41.0327 82.8526 40.3603 80.158 39.7759L77.7442 39.2586C73.4526 38.3431 70.8307 36.2483 70.8411 32.4879C70.8047 27.9052 74.8727 24.8276 80.6261 24.8276C86.4888 24.8276 90.151 27.9517 90.177 32.6793H83.8878C83.7526 31.1172 82.7434 30.1862 80.6209 30.1862Z"
    fill="white"></path>
  <path
    d="M92.4451 40.2466C92.4451 34.65 96.0397 30.9362 101.663 30.9362C107.146 30.9362 110.694 34.4483 110.694 40.1948V41.7H98.8748V41.9793C98.8748 43.7173 100.009 44.9897 101.949 44.9897C103.286 44.9897 104.358 44.4155 104.737 43.3914H110.694C110.08 47.1517 106.839 49.5517 101.803 49.5517C95.9876 49.5569 92.4451 46.0862 92.4451 40.2466ZM104.691 38.131C104.654 36.5793 103.427 35.4983 101.809 35.4983C100.212 35.4983 98.9112 36.569 98.88 38.131H104.691Z"
    fill="white"></path>
  <path
    d="M112.681 40.2466C112.681 34.7017 116.182 30.9362 122.091 30.9362C128.001 30.9362 131.497 34.6966 131.497 40.2466C131.497 45.7914 127.996 49.5517 122.091 49.5517C116.182 49.5569 112.681 45.7914 112.681 40.2466ZM124.833 40.2C124.833 37.3655 123.792 35.6379 122.138 35.6379C120.39 35.6379 119.35 37.3655 119.35 40.2C119.35 43.0345 120.39 44.7621 122.138 44.7621C123.792 44.7621 124.833 43.0345 124.833 40.2Z"
    fill="white"></path>
  <path
    d="M133.583 40.2C133.583 33.6672 137.084 30.9413 140.673 30.9413C143.368 30.9413 145.069 32.4931 145.782 34.3241H145.875V25.1586H152.398V49.2258H145.922V46.262H145.782C145.027 48.0931 143.274 49.4586 140.725 49.4586C136.844 49.4586 133.583 46.4534 133.583 40.2ZM146.021 40.2C146.021 37.5206 144.934 35.9224 143.139 35.9224C141.344 35.9224 140.304 37.5206 140.304 40.2C140.304 42.8793 141.344 44.4775 143.139 44.4775C144.934 44.4775 146.021 42.8327 146.021 40.2Z"
    fill="white"></path>
  <path
    d="M154.958 40.2466C154.958 34.65 158.552 30.9362 164.176 30.9362C169.659 30.9362 173.206 34.4483 173.206 40.1948V41.7H161.387V41.9793C161.387 43.7173 162.522 44.9897 164.462 44.9897C165.799 44.9897 166.87 44.4155 167.25 43.3914H173.206C172.593 47.1517 169.352 49.5517 164.316 49.5517C158.506 49.5569 154.958 46.0862 154.958 40.2466ZM167.203 38.131C167.167 36.5793 165.939 35.4983 164.321 35.4983C162.724 35.4983 161.424 36.569 161.393 38.131H167.203Z"
    fill="white"></path>
  <path
    d="M175.859 31.1741H182.196V34.6035H182.383C183.043 32.0638 184.557 30.9362 186.498 30.9362C187.065 30.9362 187.632 31.0293 188.152 31.1845V36.719C187.502 36.4966 186.414 36.3879 185.738 36.3879C183.813 36.3879 182.383 37.7535 182.383 39.8173V49.2207H175.859V31.1741Z"
    fill="white"></path>
  <path
    d="M46.7173 18.8244C41.1178 17.8967 35.4028 17.8967 29.8037 18.8244C27.2131 19.2492 24.8216 20.4705 22.9654 22.3162C21.1086 24.1619 19.8808 26.5402 19.4536 29.116C18.5205 34.6833 18.5205 40.3662 19.4536 45.9334C19.8808 48.5093 21.1086 50.8871 22.9654 52.7333C24.8216 54.579 27.2131 55.8002 29.8037 56.2246C32.6003 56.671 35.4287 56.8876 38.2605 56.8724C41.094 56.8715 43.9225 56.6389 46.7173 56.1765C49.3079 55.7517 51.6993 54.5304 53.5556 52.6847C55.4124 50.839 56.6402 48.4607 57.0674 45.8849C57.5231 43.1135 57.7491 40.3092 57.7431 37.5006C57.7423 34.6832 57.5083 31.8709 57.0432 29.0919C56.613 26.524 55.3865 24.1538 53.5348 22.3131C51.6836 20.4721 49.2998 19.2526 46.7173 18.8247L46.7173 18.8244ZM52.2638 45.1159C52.0035 46.6951 51.2509 48.1533 50.1128 49.2849C48.9746 50.4165 47.5082 51.1649 45.9199 51.4237C43.3879 51.8342 40.8261 52.0369 38.2606 52.0288C35.695 52.0369 33.1333 51.8342 30.6013 51.4237C29.013 51.1649 27.5465 50.4166 26.4084 49.2849C25.2703 48.1532 24.5177 46.6951 24.2574 45.1159C23.4127 40.0756 23.4127 34.931 24.2574 29.8908C24.5169 28.3102 25.2686 26.8504 26.4068 25.7178C27.545 24.5849 29.0123 23.8358 30.6015 23.5765C35.6706 22.7366 40.8446 22.7366 45.9137 23.5765C47.5033 23.8345 48.9714 24.5819 50.1105 25.7136C51.2499 26.8453 52.0033 28.3043 52.2642 29.8844C52.677 32.402 52.8804 34.9492 52.8727 37.5001C52.8804 40.0511 52.677 42.5982 52.2642 45.1158L52.2638 45.1159Z"
    fill="white"></path>
  <path
    d="M41.3041 35.0786H37.1761L39.2341 30.6473C39.5302 30.0608 39.5743 29.38 39.3565 28.761C39.1386 28.1415 38.6774 27.6366 38.0781 27.3616C37.4789 27.0872 36.793 27.0656 36.178 27.3025C35.5626 27.5394 35.0704 28.0149 34.8139 28.6192L31.9158 34.8545C31.4032 35.9597 31.492 37.248 32.1511 38.2737C32.8102 39.299 33.9492 39.9198 35.1732 39.9214H39.3012L37.2432 44.3527C36.9471 44.9392 36.903 45.62 37.1208 46.239C37.3387 46.8584 37.7999 47.3634 38.3992 47.6383C38.9984 47.9128 39.6838 47.9343 40.2993 47.6975C40.9147 47.4606 41.4069 46.9851 41.6634 46.3808L44.5615 40.1396V40.1392C45.0711 39.0349 44.9806 37.7487 44.3219 36.7251C43.6633 35.7015 42.5263 35.0812 41.3041 35.0787V35.0786Z"
    fill="white"></path>
</svg>
