<svg
  width="314"
  height="269"
  viewBox="0 0 314 269"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>App details</title>
  <rect
    x="85.5328"
    y="0.959799"
    width="158.372"
    height="265.56"
    rx="4.79899"
    fill="#CDE1FF"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path
    d="M173.601 250.762C173.601 254.84 170.262 258.161 166.125 258.161C161.987 258.161 158.648 254.84 158.648 250.762C158.648 246.684 161.987 243.363 166.125 243.363C170.262 243.363 173.601 246.684 173.601 250.762Z"
    fill="black"
    stroke="black"
    stroke-width="1.9196"></path>
  <rect
    x="97.2751"
    y="11.9333"
    width="134.887"
    height="220.25"
    fill="#F3F0F8"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path
    d="M127.03 14.3382L121.191 0.959799H208.247L202.407 14.3382C201.339 16.7866 198.921 18.3692 196.25 18.3692H133.188C130.516 18.3692 128.099 16.7866 127.03 14.3382Z"
    fill="#74B4FF"
    stroke="black"
    stroke-width="1.9196"></path>
  <circle
    cx="261.387"
    cy="210.444"
    r="34.9336"
    fill="#74B4FF"
    stroke="black"
    stroke-width="1.9196"></circle>
  <path
    d="M261.387 190.482V230.406"
    stroke="black"
    stroke-width="1.9196"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M272.136 202.766C272.136 201.758 271.937 200.76 271.551 199.828C271.165 198.897 270.6 198.05 269.887 197.337C269.174 196.624 268.328 196.059 267.396 195.673C266.465 195.287 265.466 195.089 264.458 195.089H257.548C255.512 195.089 253.559 195.897 252.119 197.337C250.679 198.777 249.871 200.73 249.871 202.766C249.871 204.802 250.679 206.755 252.119 208.195C253.559 209.635 255.512 210.444 257.548 210.444H265.993C268.03 210.444 269.983 211.253 271.422 212.693C272.862 214.132 273.671 216.085 273.671 218.121C273.671 220.158 272.862 222.11 271.422 223.55C269.983 224.99 268.03 225.799 265.993 225.799H256.78C254.744 225.799 252.791 224.99 251.351 223.55C249.912 222.11 249.103 220.158 249.103 218.121"
    stroke="black"
    stroke-width="1.9196"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <circle
    cx="291.872"
    cy="246.829"
    r="21.1663"
    fill="#685BFF"
    stroke="black"
    stroke-width="1.9196"></circle>
  <path
    d="M291.873 234.523V259.134"
    stroke="black"
    stroke-width="1.9196"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <path
    d="M298.498 242.096C298.498 241.474 298.376 240.859 298.138 240.285C297.9 239.71 297.552 239.189 297.112 238.749C296.673 238.31 296.151 237.961 295.577 237.723C295.003 237.485 294.387 237.363 293.766 237.363H289.506C288.251 237.363 287.047 237.862 286.16 238.749C285.272 239.637 284.773 240.841 284.773 242.096C284.773 243.351 285.272 244.555 286.16 245.442C287.047 246.33 288.251 246.829 289.506 246.829H294.712C295.967 246.829 297.171 247.327 298.059 248.215C298.946 249.102 299.445 250.306 299.445 251.561C299.445 252.817 298.946 254.02 298.059 254.908C297.171 255.795 295.967 256.294 294.712 256.294H289.033C287.778 256.294 286.574 255.795 285.686 254.908C284.799 254.02 284.3 252.817 284.3 251.561"
    stroke="black"
    stroke-width="1.9196"
    stroke-linecap="round"
    stroke-linejoin="round"></path>
  <rect
    x="110.117"
    y="55.5371"
    width="109.203"
    height="69.8673"
    rx="10.5578"
    fill="#685BFF"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path
    d="M170.244 102.247C167.607 104.871 163.249 104.419 161.197 101.309L149.76 83.9688C147.428 80.434 142.277 80.434 139.945 83.9688L114.347 125.911L149.613 125.952H149.571H210.581L184.216 96.5832C181.921 94.2997 178.232 94.2997 175.937 96.5832L170.244 102.247Z"
    fill="#F3F0F8"
    stroke="black"
    stroke-width="1.9196"></path>
  <path
    d="M202.005 76.0676C202.005 79.9563 198.879 83.0958 195.04 83.0958C191.2 83.0958 188.075 79.9563 188.075 76.0676C188.075 72.1789 191.2 69.0394 195.04 69.0394C198.879 69.0394 202.005 72.1789 202.005 76.0676Z"
    fill="#74B4FF"
    stroke="black"
    stroke-width="1.9196"></path>
  <rect
    x="110.117"
    y="140.6"
    width="109.203"
    height="67.9005"
    rx="10.5578"
    fill="#E9E6EE"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path
    d="M157.681 160.883L176.267 171.606L157.681 182.329L157.681 160.883Z"
    fill="black"
    stroke="black"
    stroke-width="1.9196"></path>
  <path d="M120.101 197.683L206.81 197.683" stroke="black" stroke-width="1.9196"
  ></path>
  <path
    d="M188.172 197.683C188.172 198.546 187.471 199.247 186.606 199.247C185.741 199.247 185.04 198.546 185.04 197.683C185.04 196.82 185.741 196.12 186.606 196.12C187.471 196.12 188.172 196.82 188.172 197.683Z"
    fill="#FFFDFD"
    stroke="black"
    stroke-width="1.9196"></path>
  <rect
    x="0.961385"
    y="38.8205"
    width="121.003"
    height="47.2495"
    rx="16.3166"
    fill="#F3F0F8"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path d="M13.4242 49.9748H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 58.1454H46.3953" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 66.3158H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 74.4864H30.2605" stroke="black" stroke-width="1.9196"
  ></path>
  <ellipse cx="93.2534" cy="62.089" rx="12.7161" ry="12.8267" fill="black"
  ></ellipse>
  <path
    d="M86.3654 62.3562L90.6041 66.6318L99.8763 57.279"
    stroke="white"
    stroke-width="3.83919"></path>
  <rect
    x="0.961385"
    y="102.74"
    width="121.003"
    height="47.2495"
    rx="16.3166"
    fill="#F3F0F8"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path d="M13.4242 113.895H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 122.065H46.3953" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 130.236H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 138.406H30.2605" stroke="black" stroke-width="1.9196"
  ></path>
  <ellipse cx="93.2534" cy="126.009" rx="12.7161" ry="12.8267" fill="black"
  ></ellipse>
  <path
    d="M86.3654 126.276L90.6041 130.552L99.8763 121.199"
    stroke="white"
    stroke-width="3.83919"></path>
  <rect
    x="0.961385"
    y="166.659"
    width="121.003"
    height="47.2495"
    rx="16.3166"
    fill="#F3F0F8"
    stroke="black"
    stroke-width="1.9196"></rect>
  <path d="M13.4242 177.813H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 185.983H46.3953" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 194.154H63.5823" stroke="black" stroke-width="1.9196"
  ></path>
  <path d="M13.4242 202.324H30.2605" stroke="black" stroke-width="1.9196"
  ></path>
  <ellipse cx="93.2534" cy="189.927" rx="12.7161" ry="12.8267" fill="black"
  ></ellipse>
  <path
    d="M86.3654 190.194L90.6041 194.47L99.8763 185.117"
    stroke="white"
    stroke-width="3.83919"></path>
</svg>
