<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<title>Arrow down icon</title>
<g opacity="0.4">
<path d="M9.19187 1.3081C9.07467 1.19093 8.91573 1.12511 8.75 1.12511C8.58427 1.12511 8.42533 1.19093 8.30813 1.3081L1.875 7.74122V4.87497C1.875 4.70921 1.80915 4.55024 1.69194 4.43303C1.57473 4.31582 1.41576 4.24997 1.25 4.24997C1.08424 4.24997 0.925268 4.31582 0.808058 4.43303C0.690848 4.55024 0.625 4.70921 0.625 4.87497V9.24997C0.625 9.41573 0.690848 9.57471 0.808058 9.69191C0.925268 9.80912 1.08424 9.87497 1.25 9.87497H5.625C5.79076 9.87497 5.94973 9.80912 6.06694 9.69191C6.18415 9.57471 6.25 9.41573 6.25 9.24997C6.25 9.08421 6.18415 8.92524 6.06694 8.80803C5.94973 8.69082 5.79076 8.62497 5.625 8.62497H2.75875L9.19187 2.19185C9.30904 2.07464 9.37487 1.9157 9.37487 1.74997C9.37487 1.58425 9.30904 1.4253 9.19187 1.3081Z" fill="#2F2768"/>
</g>
</svg>
