<svg
  width="10"
  height="10"
  viewBox="0 0 10 10"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Link icon</title>
  <g clip-path="url(#clip0_310_1187)">
    <rect width="10" height="10" rx="2" fill="#2F2768"></rect>
    <g clip-path="url(#clip1_310_1187)">
      <path
        d="M5.12255 2.48262L4.36355 3.22312C4.29351 3.29274 4.25376 3.38719 4.25294 3.48595C4.25212 3.5847 4.29029 3.67979 4.35916 3.75058C4.42804 3.82136 4.52205 3.86211 4.62079 3.86399C4.71953 3.86587 4.81503 3.82872 4.88655 3.76062L5.65005 3.01662C5.7366 2.92664 5.84026 2.85486 5.95493 2.80549C6.06961 2.75612 6.19298 2.73015 6.31783 2.72911C6.44267 2.72807 6.56647 2.75197 6.68195 2.79942C6.79743 2.84687 6.90227 2.9169 6.99032 3.00542C7.07837 3.09393 7.14785 3.19914 7.19469 3.31487C7.24153 3.4306 7.26478 3.55452 7.26307 3.67936C7.26137 3.8042 7.23475 3.92744 7.18478 4.04185C7.1348 4.15626 7.06248 4.25954 6.97205 4.34562L6.23155 5.10512C6.19649 5.14023 6.16875 5.18196 6.14994 5.22787C6.13113 5.27379 6.12162 5.32298 6.12196 5.3726C6.1223 5.42222 6.13248 5.47127 6.15191 5.51693C6.17135 5.56258 6.19965 5.60393 6.23518 5.63856C6.27071 5.6732 6.31276 5.70044 6.35889 5.71871C6.40503 5.73697 6.45433 5.7459 6.50394 5.74498C6.55355 5.74405 6.60248 5.73329 6.64791 5.71332C6.69333 5.69334 6.73433 5.66455 6.76855 5.62862L7.50605 4.87262C7.82178 4.55576 7.99907 4.12668 7.99907 3.67937C7.99907 3.23205 7.82178 2.80297 7.50605 2.48612C7.18484 2.1803 6.7585 2.00944 6.31499 2.00879C5.87149 2.00814 5.44465 2.17775 5.12255 2.48262Z"
        fill="white"></path>
      <path
        d="M5.11318 6.22313L4.34968 6.96763C4.2627 7.05591 4.15909 7.12606 4.04483 7.17405C3.93057 7.22203 3.80794 7.24688 3.68401 7.24716C3.56009 7.24745 3.43734 7.22316 3.32286 7.17571C3.20838 7.12826 3.10444 7.05858 3.01706 6.9707C2.92969 6.88283 2.8606 6.7785 2.81379 6.66375C2.76698 6.54901 2.74339 6.42612 2.74438 6.3022C2.74537 6.17828 2.77091 6.05579 2.81954 5.9418C2.86817 5.82782 2.93891 5.7246 3.02768 5.63813L3.76818 4.87863C3.83622 4.80715 3.87335 4.71174 3.87151 4.61306C3.86967 4.51439 3.82901 4.42043 3.75835 4.35154C3.68768 4.28265 3.59271 4.24439 3.49402 4.24506C3.39534 4.24574 3.3009 4.28528 3.23118 4.35513L2.49368 5.11113C2.18416 5.42871 2.01208 5.85536 2.01468 6.29881C2.01727 6.74227 2.19432 7.16688 2.50753 7.48081C2.82074 7.79475 3.24495 7.97277 3.68839 7.97639C4.13184 7.98 4.55889 7.80892 4.87718 7.50013L5.63618 6.76063C5.70622 6.691 5.74596 6.59656 5.74678 6.4978C5.7476 6.39904 5.70943 6.30395 5.64056 6.23317C5.57169 6.16239 5.47767 6.12163 5.37893 6.11975C5.28019 6.11787 5.18469 6.15502 5.11318 6.22313Z"
        fill="white"></path>
      <path
        d="M3.73468 6.2571C3.76942 6.29199 3.81072 6.31968 3.8562 6.33857C3.90167 6.35746 3.95043 6.36718 3.99968 6.36718C4.04892 6.36718 4.09768 6.35746 4.14315 6.33857C4.18863 6.31968 4.22993 6.29199 4.26468 6.2571L6.26468 4.2571C6.30051 4.22252 6.3291 4.18116 6.34877 4.13541C6.36844 4.08967 6.37881 4.04047 6.37927 3.99068C6.37972 3.94089 6.37026 3.8915 6.35143 3.84541C6.33259 3.79931 6.30477 3.75743 6.26957 3.7222C6.23438 3.68698 6.19253 3.65911 6.14645 3.64024C6.10037 3.62136 6.051 3.61185 6.0012 3.61226C5.95141 3.61267 5.9022 3.62299 5.85644 3.64262C5.81068 3.66225 5.76929 3.6908 5.73468 3.7266L3.73468 5.7266C3.69983 5.76142 3.67218 5.80277 3.65332 5.84829C3.63446 5.8938 3.62476 5.94258 3.62476 5.99185C3.62476 6.04111 3.63446 6.0899 3.65332 6.13541C3.67218 6.18092 3.69983 6.22227 3.73468 6.2571Z"
        fill="white"></path>
    </g>
  </g>
  <defs>
    <clipPath id="clip0_310_1187">
      <rect width="10" height="10" fill="white"></rect>
    </clipPath>
    <clipPath id="clip1_310_1187">
      <rect width="6" height="6" fill="white" transform="translate(2 2)"></rect>
    </clipPath>
  </defs>
</svg>
